# 分析対象の産駒

In [16]:
import pandas as pd
from utils import result_df

In [17]:
df = result_df()

In [18]:
cond = (df['レース日'] > "2022-01-01")
df = df[cond]

In [19]:
# とりあえずはサンプルの多い、父TOP10か母父TOP10から
x = 10

# ------------------------------------------------------------------
# 1. 父
# ------------------------------------------------------------------
top_father = (
    df.groupby('父馬名')
      .size()                          # 件数を数える
      .reset_index(name='count')       # DataFrame に戻す
      .sort_values('count', ascending=False)  # 降順ソート
      .head(x)                         # 上位 x 件だけ取り出す
)

# ------------------------------------------------------------------
# 2. 母父
# ------------------------------------------------------------------
top_grand_father = (
    df.groupby('母の父馬名')
      .size()
      .reset_index(name='count')
      .sort_values('count', ascending=False)
      .head(x)
)


# ------------------------------------------------------------------
# 3. 父 x 母父
# ------------------------------------------------------------------
top_multi = (
    df.groupby(['父馬名', '母の父馬名'])
      .size()
      .reset_index(name='count')
      .sort_values('count', ascending=False)
      .head(x)
)

In [20]:
top_father

           父馬名  count
581    ロードカナロア   5555
316        キズナ   4584
293    エピファネイア   4250
564    ルーラーシップ   4045
463     ドゥラメンテ   3890
547       モーリス   3634
485     ハーツクライ   3525
466      ドレフォン   3353
445  ディープインパクト   2975
487    ハービンジャー   2912

In [21]:
top_grand_father

          母の父馬名  count
913   ディープインパクト   7634
778    キングカメハメハ   7126
785        クロフネ   4936
829   シンボリクリスエス   3776
698    アグネスタキオン   3729
894     ダイワメジャー   3404
951      ハーツクライ   3258
1013  マンハッタンカフェ   3253
981       フジキセキ   3175
983   フレンチデピュティ   2962

In [22]:
top_multi

           父馬名      母の父馬名  count
11707  ロードカナロア  ディープインパクト    790
10328     モーリス  ディープインパクト    633
11088  ルーラーシップ  ディープインパクト    615
8108   ハービンジャー  ディープインパクト    605
2217   エピファネイア  ディープインパクト    558
2186   エピファネイア   キングカメハメハ    407
7524     ドレフォン  ディープインパクト    394
11044  ルーラーシップ   アグネスタキオン    330
8088   ハービンジャー   キングカメハメハ    316
10296     モーリス   キングカメハメハ    300